
/* SFX-SETTINGS
============================================================================
	1. Close Icon
	2. Custom Scrollbar
	3. Internet Explorer Fix
	4. Link Disable
    5. Multi Boxes
    6. Text Background
    7. Text Slide
    8. Toggle
    9. burgermenu
============================================================================ */
//------------------------------------
//      #Close Icon
//------------------------------------
// $setting-sfxCloseIcon-size:                 50px;
// $setting-sfxCloseIcon-line-height:          $spacing-tiny;
// $setting-sfxCloseIcon-color:                $color-gray-lighter;
// $setting-sfxCloseIcon-color-hover:          $color-primary;
// $setting-sfxCloseIcon-transition:           all 0.3s ease-out;

//------------------------------------
//      #Custom Scrollbar
//------------------------------------
// $setting-sfxCustomScrollbar-size:           12px;
// $setting-sfxCustomScrollbar-border-radius:  10px;
// $setting-sfxCustomScrollbar-color:          #55555580;
// $setting-sfxCustomScrollbar-color-bar:      #ffffff20;

//------------------------------------
//      #Internet Explorer Fix
//------------------------------------
// $setting-sfcInternetExplorerFix-enable:                  true;
// $setting-sfcInternetExplorerFix-color-background:        rgb(11, 11, 11);
// $setting-sfcInternetExplorerFix-color-font:              rgb(232, 156, 174);
// $setting-sfcInternetExplorerFix-spacing-top:             50px;
// $setting-sfcInternetExplorerFix-font-size-title:         100px;
// $setting-sfcInternetExplorerFix-font-size-text:          30px;
// $setting-sfcInternetExplorerFix-content-title:           "GO AWAY!";
// $setting-sfcInternetExplorerFix-content-text:            "this page is blocked for internet explorer users";

//------------------------------------
//      #Link Disable
//------------------------------------
// $setting-sfxDisableLink-transition:                       all 0.3s;
// $setting-sfxDisableLink-height:                           1px;
// $setting-sfxDisableLink-color:                            $color-font-dark;
// $setting-sfxDisableLink-color-active:                     $color-font-light;

//------------------------------------
//      #Multi Boxes
//------------------------------------
// $setting-sfxMultiBoxes-color:                           $color-gray-base;
// $setting-sfxMultiBoxes-transition:                      all 0.3s;
// $setting-sfxMultiBoxes-rotate-size:                     2;
// $setting-sfxMultiBoxes-rotate-size-hover:               4;

//------------------------------------
//      #Text Background
//------------------------------------
// $setting-sfxTextBackground-transition:                  all 0.2s;
// $setting-sfxTextBackground-color-hover:                 $color-primary;
// $setting-sfxTextBackground-color-active:                $color-primary-dark;
// $setting-sfxTextBackground-spacing:                     4px;

//------------------------------------
//      #Text Slide
//------------------------------------
// $setting-sfxTextSlide-transition:                       padding-left 0.3s;
// $setting-sfxTextSlide-slide-size:                       $spacing-tiny;

//------------------------------------
//      #Text Underline
//------------------------------------
// $setting-sfxTextUnderline-transition:                   all 0.3s;
// $setting-sfxTextUnderline-border-size:                  2px;
// $setting-sfxTextUnderline-color:                        $color-primary;
// $setting-sfxTextUnderline-color-active:                 $color-primary-dark;

//------------------------------------
//      #Toggle
//------------------------------------
// $setting-sfcToggle-color:                               red;
// $setting-sfcToggle-color-active:                        green;

//------------------------------------
//      #burgermenu
//------------------------------------
// $setting-sfxBurgermenu-hideElement:                     "navigation";

// $setting-sfxBurgermenu-size:                            50px;
// $setting-sfxBurgermenu-color:                           $color-gray-lighter;
// $setting-sfxBurgermenu-color-hover:                     $color-primary;
// $setting-sfxBurgermenu-color-close-hover:               $color-primary-dark;
// $setting-sfxBurgermenu-background:                      transparent;
// $setting-sfxBurgermenu-background-hover:                transparent;
// $setting-sfxBurgermenu-lineheavy:                       round(($setting-sfxBurgermenu-size) / 16);
// $setting-sfxBurgermenu-spacing:                         round(($setting-sfxBurgermenu-lineheavy) * 4);
// $setting-sfxBurgermenu-transition:                      all 0.3s;

// $setting-sfxBurgermenu-text:                            false;
// $setting-sfxBurgermenu-animation:                       true;
