{% extends '@snippets/shared/default.twig' %}
{% set theme = 'dark'%}

{% block full %}
    {% if page.module %}
        {% set pageModuleUrl = "@snippets/shared/module/" ~ page.module ~ "/" ~ page.module ~ ".twig" %}
        {% include pageModuleUrl %}
    {% endif %}
{% endblock %}
