{% extends '@snippets/shared/default.twig' %}
{% set theme = 'dark'%}

{% block full %}
    {% if page.module is not empty %}
        {% set pageModuleUrl = "@snippets/module/" ~ page.module ~ "/" ~ page.module ~ ".twig" %}
        {% include pageModuleUrl %}
    {% endif %}

{% endblock %}

