
<div class="sunsystem">

    {# Universe #}
    <div class="universe">
        <div class="universe-fogs universe-fogs--left"></div>
        <div class="universe-fogs universe-fogs--bottom"></div>
        <div class="universe-stars universe-stars--small"></div>
        <div class="universe-stars universe-stars--middle"></div>
        <div class="universe-stars universe-stars--large"></div>
    </div>

</div>
