{% set footerCounterPages = site.children.listed() %}

{% embed '@snippets/shared/skeleton/footer/footer.twig' %}
    {% block footerInfo %}
        Das Projekt <a href="{{ site.url }}" class="link">{{ site.title }}</a> ist ein seit 2014
        entwickeltes fiktiven SciFi-Universum und enthält eine erklärende Enzyklopedie und Informative
        Ansammlung zu dem Inhalt des Cosmoses. Lorem ipsum dolor Hobbyprojekt sit amet {{ site.author }}.
        Derzeit umfasst das Projekt {{ site.children.listed().count }} Hauptkategorien und
        insgesammt {{ site.children.children.listed().count }} Unterseiten. Lorem
        ipsum dolor sit amet, austoben Programmiertechnisch und Designerisch consectetuer
        adipiscing elit von Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
        commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu
    {% endblock %}
{% endembed %}
